  <%= simple_form_for(dog_registration) do |f| %>
    <% if dog_registration.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(dog_registration.errors.count, "error") %> prohibited this dog_registration from being saved:</h2>

        <ul>
        <% dog_registration.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>


<div class="booyah-box col-10 offset-1">
  <%= simple_form_for @dog_registration do |f| %><br />
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :address_1 %>
    <%= f.input :address_2 %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :zip %>
    <%= f.label :country %><br />
    <%= f.country_select :country %><br /><br />
    <%= f.input :second_owner_name %>
    <%= f.input :second_owner_phone %>
    <%= f.input :dog_name %>
    <%= f.input :dog_sex %>
    <%= f.input :dog_breed %>
    <%= f.input :dog_weight %>
    <%= f.input :birthday %>
    <%= f.input :vet %>
    <%= f.input :dog_desription %>
    <%= f.input :dog_daycare_history %>
    <%= f.input :second_dog_name %>
    <%= f.input :second_dog_sex %>
    <%= f.input :second_dog_breed %>
    <%= f.input :second_dog_weight %>
    <%= f.input :second_dog_birthday %>
    <%= f.input :second_dog_description %>
    <%= f.input :comments %>
    <%= f.input :referral %>
    <%= f.submit 'Submit', class: 'btn btn-primary btn-sm' %>
    <br /><br />
    <%= link_to 'Back', dog_registrations_path %>
    <br /><br />
  <% end %>
</div>
