<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @dog_registration.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @dog_registration.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @dog_registration.email %>
</p>

<p>
  <strong>Address 1:</strong>
  <%= @dog_registration.address_1 %>
</p>

<p>
  <strong>Address 2:</strong>
  <%= @dog_registration.address_2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @dog_registration.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @dog_registration.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @dog_registration.zip %>
</p>

<p>
  <strong>Country:</strong>
  <%= @dog_registration.country %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @dog_registration.phone %>
</p>

<p>
  <strong>Second owner name:</strong>
  <%= @dog_registration.second_owner_name %>
</p>

<p>
  <strong>Second owner phone:</strong>
  <%= @dog_registration.second_owner_phone %>
</p>

<p>
  <strong>Dog name:</strong>
  <%= @dog_registration.dog_name %>
</p>

<p>
  <strong>Dog sex:</strong>
  <%= @dog_registration.dog_sex %>
</p>

<p>
  <strong>Dog breed:</strong>
  <%= @dog_registration.dog_breed %>
</p>

<p>
  <strong>Dog weight:</strong>
  <%= @dog_registration.dog_weight %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @dog_registration.birthday %>
</p>

<p>
  <strong>Vet:</strong>
  <%= @dog_registration.vet %>
</p>

<p>
  <strong>Dog desription:</strong>
  <%= @dog_registration.dog_desription %>
</p>

<p>
  <strong>Dog daycare history:</strong>
  <%= @dog_registration.dog_daycare_history %>
</p>

<p>
  <strong>Second dog name:</strong>
  <%= @dog_registration.second_dog_name %>
</p>

<p>
  <strong>Second dog sex:</strong>
  <%= @dog_registration.second_dog_sex %>
</p>

<p>
  <strong>Second dog breed:</strong>
  <%= @dog_registration.second_dog_breed %>
</p>

<p>
  <strong>Second dog weight:</strong>
  <%= @dog_registration.second_dog_weight %>
</p>

<p>
  <strong>Second dog birthday:</strong>
  <%= @dog_registration.second_dog_birthday %>
</p>

<p>
  <strong>Second dog description:</strong>
  <%= @dog_registration.second_dog_description %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @dog_registration.comments %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @dog_registration.origin %>
</p>

<p>
  <strong>Referral:</strong>
  <%= @dog_registration.referral %>
</p>

<%= link_to 'Edit', edit_dog_registration_path(@dog_registration) %> |
<%= link_to 'Back', dog_registrations_path %>
